= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li
    = link_to 'Events' , admin_events_path
    %span.divider /
  %li
    = link_to @event.name , admin_event_path(id: @event.id)
    %span.divider /
  %li.active Edit

.row-fluid
  = simple_form_for [:admin, @event], url: admin_event_path(id: @event.id), method: :put do |f|
    = display_errors f
    = f.input :name, label: 'Display name'
    = f.input :csid, label: 'Cross System ID'
    = display_actions f, admin_event_path(id: @event.id)