%div.page-header
  %h2 Edit Transcoder

.row-fluid
  .span9
    = simple_form_for [:admin, @transcoder], url: admin_transcoder_path(id: @transcoder.id), method: :put do |f|
      = display_errors f

      = f.input :name, label: 'Display name'
      = f.input :host, label: 'Host ip address'
      = f.input :port, label: 'Binary api port'
      = f.input :status_port, label: 'Load status port'

      %hr.soften
      = display_actions f, admin_transcoder_path(id: @transcoder.id)

  .span3
    .well
      %h3 Help
      %p
        help is on the way for every form in the application