= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li
    = link_to 'Transcoders' , admin_transcoders_path
    %span.divider /
  %li
    = link_to @transcoder.name , admin_transcoder_path(id: @transcoder.id)
    %span.divider /
  %li.active Edit

.row-fluid
  = simple_form_for [:admin, @transcoder], url: admin_transcoder_path(id: @transcoder.id), method: :put do |f|
    = display_errors f

    = f.input :name, label: 'Display name'
    = f.input :host, label: 'Host ip address'
    = f.input :port, label: 'Binary api port'
    = f.input :status_port, label: 'Load status port'

    = display_actions f, admin_transcoder_path(id: @transcoder.id)