= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li.active Transcoders

%p
  = link_to 'New Transcoder', new_admin_transcoder_path, :class => 'btn btn-success btn-large pull-right'
.row-fluid
  %table.table
    %thead
      %tr
        %th Name
        %th Host
        %th Port
        %th Status Port
        %th Actions
    %tbody
      - @transcoders.each do |txcoder|
        %tr
          %td= txcoder.name
          %td= txcoder.host
          %td= txcoder.port
          %td= txcoder.status_port
          %td
            = link_to 'Show', admin_transcoder_path(id: txcoder.id)
            \|
            = link_to 'Edit', edit_admin_transcoder_path(id: txcoder.id)
            \|
            = link_to 'Copy', new_admin_transcoder_path(id: txcoder.id)
            \|
            = link_to 'Destroy', admin_transcoder_path(id: txcoder.id), :class => 'label label-important',
              :confirm => 'This will remove statistics as well. Are you sure?', :method => :delete