= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li
    = link_to 'Transcoders' , admin_transcoders_path
    %span.divider /
  %li.active New Transcoder

= simple_form_for [:admin, @transcoder], url: admin_transcoders_path, method: :post do |f|
  = display_errors f

  = f.input :name, label: 'Display name'
  = f.input :host, label: 'Host ip address'
  = f.input :port, label: 'Binary api port'
  = f.input :status_port, label: 'Load status port'

  = display_actions f, admin_transcoders_url