%header.subhead#overview
  %h2= "Transcoder: #{ @transcoder.name } "
  .subnav
    %ul.nav.nav-pills
      -#%li
        = link_to 'Edit', edit_admin_transcoder_path(id: @transcoder.id)
      %li
        = link_to 'Destroy', admin_transcoder_path(id: @transcoder.id), :class => 'label label-important',
        :confirm => 'This will remove statistics as well. Are you sure?', :method => :delete
      %li
        = link_to 'View All', admin_transcoders_path
.row
  %div.span4
    %section.well
      = display_show_item('ID', @transcoder.id)
      = display_show_item('Name', @transcoder.name)
      = display_show_item('Host', @transcoder.host)
      = display_show_item('Port', @transcoder.port)
      = display_show_item('Status Port', @transcoder.status_port)
      = display_show_item('Number of Slots', @slots.length)
  %div.span8.offset1
    = link_to 'Restart', action_admin_transcoder_path(command: :restart) ,class: 'btn'
    %p Restarts the transcoder. Returns to the saved configuration, not current.
    = link_to 'Save Config', action_admin_transcoder_path(command: :save) ,class: 'btn'
    %p Saves the current configuration state on the transcoder.
    = link_to 'Sync Config', action_admin_transcoder_path(command: :sync) ,class: 'btn'
    %p Synchronize the actual, current, configuration on the transcoder with the saved configuration in the Transcoder Manager.

%section
  %h3 Slots:
  %p
    = link_to 'New Slot', '#slotModal', class: 'btn btn-success btn-large pull-right', :'data-toggle' => 'modal'

  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th Slot_id
        %th Scheme
        %th Link
        %th State
        %th{colspan: 2, width: '120px'} Actions
    %tbody
      - @slots.each do |s|
        %tr
          %td{width: '25px'}= s.slot_id
          %td{width: '100px'}= s.scheme_name
          %td{width: '70px'}= link_to "http://#{@transcoder.host}:#{8000 + s.slot_id}" , '#'
          %td{id: "slot_state_#{s.slot_id}", width: '250px'}
          %td{id: "slot_action_#{s.slot_id}", width: '60px'}
          %td{width: '60px'}= link_to 'delete', delete_slot_admin_transcoder_path(slot_id: s.id), :class => 'label label-important',:method => :delete

%div#slotModal.modal.hide.fade{tabindex: -1, role: 'dialog', :'aria-labelledby' => 'slot label', :'aria-hidden' => 'true'}
  %form#slotForm.form-horizontal{action: create_slot_admin_transcoder_path}
    %div.modal-header
      %button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
        x
      %h3 New Slot
    %div.modal-body
      %fieldset
        %div.control-group
          %label.control-label{for: 'slotModalSlotId'}  Slot Id
          %div.controls
            %input#slotModalSlotId{type: 'text', name: 'slot_id',value: ''}
            %span.help-block range: 0-255, make sure id is not taken.
        %div.control-group
          %label.control-label{for: 'slotModalScheme'}  Scheme
          %div.controls
            %select#slotModalScheme{name: 'scheme_id'}
              - @schemes.each do |scheme|
                %option{value: scheme.id}
                  = scheme.name
    %div.modal-footer
      %button.btn{:'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
        cancel
      %button#slotModalSave.btn.btn-primary
        Save

:javascript
  bb.show_transcoder(#{ @transcoder.id });