%table.table
  %tr
    %td
      %div
        %span= @results[:func].upcase
        %span.pull-right= Time.now

  %tr{:class => (TranscoderApi::RET_OK == @results[:error]) ? 'success' : 'error'}
    %td= @results[:message]

  - unless @results[:result].nil?
    - @results[:result].each do |h, v|
      %tr.result{style: "display: none;"}
        %td= "#{h}: #{v}"

  %tr.command{style: "display: none;"}
    %td= "Hex command #{@results[:command].unpack('C*').map { |c| '%02x' % c }.join(' ')}"
  %tr.response{style: "display: none;"}
    %td= "Hex response #{@results[:response].unpack('C*').map { |c| '%02x' % c }.join(' ').gsub(/( 20)+$/, '')}"