= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li.active Maintenance

.row-fluid
  %h2 Configuration
  %p Import / Export transcoder manager current configuration to local JSON file.
  %hr

.row-fluid
  .span4
    %h4 Export
    %p Export configuration to JSON file.
    = link_to "#{BroadcastWeb.config.tm_api_url}export" ,class: 'btn' do
      Export Configuration

  .span6
    %h4 Import
    %p Import configuration from JSON file.
    %form{method: 'POST',
          action:"#{BroadcastWeb.config.tm_api_url}import",
          enctype:'multipart/form-data'}
      %fieldset
        %input{type:'file', name:'file'}
        %button.btn{type:'submit'} Upload
