= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li.active Monitoring

.row-fluid
  .span7
    Monitoring period
    %select{id:'monitor-period'}
      %option{value: '10_minutes'} last 10 minutes
      %option{value: 'hour', selected:'selected'} last hour
      %option{value: 'day'} last 24 hours
      %option{value: 'week'} last week
  .span2
    Status:
    %span#monitoring-status
  .span3
    %button#start-monitoring.btn.btn-small.btn-success
      %i.icon-align-left.icon-play
      Start
    %button#stop-monitoring.btn.btn-small.btn-danger
      %i.icon-align-left.icon-stop
      Shutdown

%hr

.row-fluid
  .span6
    - @transcoders.each do |txcoder|
      %div
        %h5= "#{txcoder.name} - cpu load"
        %div.monitor-plot{id: "cpu-plot-#{txcoder.id}",
        :'data-tx-id' => txcoder.id, :'data-type' => 'cpu'}

  .span6
    - @transcoders.each do |txcoder|
      %div
        %h5= "#{txcoder.name} - temperature"
        %div.monitor-plot{id: "temperature-plot-#{txcoder.id}",
        :'data-tx-id' => txcoder.id, :'data-type' => 'temperature'}

:javascript
  backendUrl = "#{BroadcastWeb.config.tm_api_url}"
  updateInterval = 2500
  plotOptions = {
  	series: {
          shadowSize: 0 // drawing is faster without shadows
      },
  	xaxis: {
          mode: 'time',
          timezone: 'browser'
      }
  }