= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li.active Monitoring

.row-fluid
  .span7
    Monitoring period
    %select{id:'monitor-period'}
      %option{value: '10_minutes'} last 10 minutes
      %option{value: 'hour', selected:'selected'} last hour
      %option{value: 'day'} last 24 hours
      %option{value: 'week'} last week
  .span3.offset2
    %button#monitoring-status.btn

%hr

.row-fluid
  - @transcoders.each_slice(2) do |txcoders|
    .row-fluid
      -txcoders.each do |t|
        .span6
          %div
            .row-fluid
              .span4{style: 'padding-left:7px'}
                = link_to t.name, admin_transcoder_path(id: t.id)
              .span8{style: 'padding-right:12px'}
                .pull-right
                  %table.status-table{id: "signal-status-#{t.id}", :'data-tx-id' => t.id}
            .row-fluid
              .span12
                %div.monitor-plot{id: "cpu-plot-#{t.id}", :'data-tx-id' => t.id}
    %br

:javascript
  backendUrl = "#{BroadcastWeb.config.tm_api_url}"
  updateInterval = 2500
  plotOptions = {
  	series: {
  	    lines: {
  	      show: true,
  	      lineWidth: 1,
  	      fill: true,
  	    },
  	      color: 3,
        shadowSize: 0 // drawing is faster without shadows
      },
  	xaxis: {
          mode: 'time',
          timezone: 'browser'
      }
  }