%div.page-header
  %h2 Edit Scheme

.row-fluid
  .span9

    = simple_form_for [:admin, @scheme], url: admin_scheme_path(id: @scheme.id), method: :put do |f|
      = display_errors f

      .row-fluid
        = f.input :name, label: 'Display name'

      .row-fluid
        .span4
          = f.input :src1_id,
            as: :select,
            label: 'Source 1',
            collection: @sources,
            hint: 'Primary input source',
            label_method: lambda {|s| s.name},
            value_method: lambda {|s| s.id},
            include_blank: false

          = f.input :src2_id,
            as: :select,
            label: 'Source 2',
            collection: @sources,
            hint: 'Secondary input source',
            label_method: lambda {|s| s.name},
            value_method: lambda {|s| s.id}

        .span6
          = f.input :preset_id,
            as: :select,
            collection: @presets,
            label_method: lambda {|p| p.name},
            value_method: lambda {|p| p.id},
            include_blank: false

          %p Audio mappings
          %table#mappingsTable.table.table-bordered.table-condensed
            %thead
              %tr
                %th Type
                %th Profile
                %th Gain
                %th Audio Channel
            %tbody
              - @current_preset_tracks.zip(@scheme.audio_mappings).each do |t, m|
                %tr
                  %td= t.human_num_channels
                  %td= t.human_profile_number
                  %td= t.gain
                  %td
                    - if t.num_channels == 0
                      = f.hidden_field :audio_mappings, value:0, name: 'tm_scheme[audio_mappings][]'
                    -else
                      = f.input_field :audio_mappings,
                        as: :select,
                        collection: (0..@scheme.audio_mappings.size-1),
                        name: 'tm_scheme[audio_mappings][]',
                        class: 'required',
                        selected: m

      .row-fluid
        %hr.soften
        = display_actions f, admin_scheme_path(id: @scheme.id)

  .span3
    .well
      %h3 Help
      %p
        help is on the way for every form in the application

:javascript
  bb.editMode = true