= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li
    = link_to 'Schemes' , admin_schemes_path
    %span.divider /
  %li
    = link_to @scheme.name , admin_scheme_path(id: @scheme.id)
    %span.divider /
  %li.active Edit

.row-fluid
  .span12
    = render(partial: 'edit_form',
          locals: {scheme: @scheme, sources: @sources, presets: @presets,
          current_preset_tracks: @current_preset_tracks})

:javascript
  bb.editMode = true