= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li
    = link_to 'Schemes' , admin_schemes_path
    %span.divider /
  %li.active New Scheme

.row-fluid
  .span12
    - if @copy
      = render(partial: 'edit_form',
      locals: {scheme: @scheme, sources: @sources, copy: true,
      presets: @presets, current_preset_tracks: @current_preset_tracks})
    - else
      = render(partial: 'new_form',
      locals: {scheme: @scheme, sources: @sources, presets: @presets,
      first_preset: @first_preset, first_preset_tracks: @first_preset_tracks})

:javascript
  bb.editMode = false