%header.subhead#overview
  %h2 New Source

= simple_form_for [:admin, @source], url: admin_sources_path, method: :post do |f|
  = display_errors f
  %hr.soften

  = f.input :name, label: 'Display name'

  = f.input :capture_id,
      as: :select,
      label: 'Capture',
      collection: @captures,
      label_method: lambda {|c| c.name},
      value_method: lambda {|c| c.id},
      include_blank: false

  = f.input :input, label: 'Input', collection: (1..4)

  %hr.soften
  = display_actions f, admin_sources_url