= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li
    = link_to 'Sources' , admin_sources_path
    %span.divider /
  %li.active New Source

= simple_form_for [:admin, @source], url: admin_sources_path, method: :post do |f|
  = display_errors f

  = f.input :name, label: 'Display name'

  = f.input :capture_id,
      as: :select,
      label: 'Capture',
      collection: @captures,
      label_method: lambda {|c| c.name},
      value_method: lambda {|c| c.id},
      include_blank: false

  = f.input :input, label: 'Input', collection: (1..4)

  = display_actions f, admin_sources_url