= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li
    = link_to 'Sources' , admin_sources_path
    %span.divider /
  %li.active= @source.name

.subnav
  %ul.nav.nav-pills
    %li
      = link_to 'Edit', edit_admin_source_path(id: @source.id)
    %li
      = link_to 'View All', admin_sources_path
    %li
      = link_to 'Destroy', admin_source_path(id: @source.id), :class => 'label label-important', :confirm => 'Are you sure?', :method => :delete

.row-fluid
  .span6.well
    = display_show_item('ID', @source.id)
    = display_show_item('Name', @source.name)
    = display_show_item('Capture', link_to(@source.capture_name, admin_capture_path(@source.capture_id)), true)
    = display_show_item('Input', @source.input)