.row
  %span.pull-right
    = Time.now
  %table.table
    %thead
      %tr
        %th Command
        %th Result
    %tbody
      - @results.each do |command, result|
        %tr{:class => (result[:success]) ? 'success' : 'error'}
          %td{:width => "200px;"}
            = command.cmd
          %td
            - if result[:success]
              = result[:message]
            - else
              %dl
                - result[:errors].each do |api_cmd, error|
                  %dt= api_cmd
                  %dd= error[:message]
