.navbar.navbar-inverse
  .navbar-inner
    .container
      = link_to 'BB Web Broadcast', '#', :class => 'brand span3'
      %ul.nav
        %li= link_to 'Transcoder test', transcoder_test_path
        %li= link_to 'Transcoder console', transcoder_console_path
        %li.dropdown
          %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
            Admin
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Transcoders', admin_transcoders_path
            %li= link_to 'Captures', admin_captures_path
            %li= link_to 'Sources', admin_sources_path
            %li= link_to 'Presets', admin_presets_path
            %li= link_to 'Schemes', admin_schemes_path
            %li= link_to 'Events', admin_events_path