= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li
    = link_to 'Presets' , admin_presets_path
    %span.divider /
  %li
    = link_to @preset.name , admin_preset_path(id: @preset.id)
    %span.divider /
  %li.active Edit

= simple_form_for [:admin, @preset], url: admin_preset_path(id: @preset.id), method: :put do |f|
  = display_errors f

  = f.input :name, label: 'Display name'
  = f.hidden_field :tracks, value: '[]'

  .row-fluid
    .span6
      %h3 Tracks
      %p Note that tracks can't change. Please create a new preset instead.
      %table#tracksTable.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
            %th Channels
            %th Profile
            %th Gain
        %tbody
          - @tracks.each_with_index do |t, i|
            %tr
              %td= i
              %td= t.human_num_channels
              %td= t.human_profile_number
              %td
                - if t.num_channels == 0
                  %input{type: :hidden, name: 'gain[]', value: 0}
                  0
                -else
                  %input{type: :number, name: 'gain[]', value: t.gain}


  = display_actions f, admin_preset_path(id: @preset.id)