%h1 Presets
%p
  = link_to 'New Preset', new_admin_preset_path, :class => 'btn btn-success btn-large pull-right'
.row
  %table.table
    %thead
      %tr
        %th Id
        %th Name
        %th Actions
    %tbody
      - @presets.each do |preset|
        %tr
          %td{:width => '50px;'}= preset.id
          %td= preset.name
          %td
            = link_to 'Show', admin_preset_path(id: preset.id)
            -#= link_to 'Edit', edit_admin_preset_path(id: preset.id)
            = link_to 'Destroy', admin_preset_path(id: preset.id), :class => 'label label-important', :confirm => 'Are you sure?', :method => :delete