%header.subhead#overview
  %h2
    = "Preset: #{ @preset.name }"
  .subnav
    %ul.nav.nav-pills
      -#%li
        = link_to 'Edit', edit_admin_preset_path(id: @preset.id)
      %li
        = link_to 'Destroy', admin_preset_path(id: @preset.id), :class => 'label label-important', :confirm => 'Are you sure?', :method => :delete
      %li
        = link_to 'View All', admin_presets_path

%section.well
  = display_show_item('ID', @preset.id)
  = display_show_item('Name', @preset.name)
  = display_show_item('Number of Tracks', @tracks.length)

%section.span9
  %strong Tracks:
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Channels
        %th Profile
        %th Gain
    %tbody
      - @tracks.each do |t|
        %tr
          %td= t.human_num_channels
          %td= t.human_profile_number
          %td= t.gain

